**/.DS_Store
**/*.pkl
alignment_testing/*
input_data/example/example_fastq/P22R2_R1_001.fastq
input_data/example/example_fastq/P22R2_R2_001.fastq
results/example/alignment/*
**.pytest_cache
biongs.egg-info/*